<%- include('../inc/header'); %>

    <div id="profile_page_header">
      <img class="user_pic_profile" src="/images/IMG_0088.JPG" alt="Photo user" />
      <h2 class="user_name_profile">Romain Mk</h2>
      <img src="/images/elements/add_as_favorite_author_button.svg"/>
      <div class="social_media_profile">
        <img class="social_media_icons" src="/images/elements/facebook_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/twitter_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/google_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/instagram_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/url_icon.svg"/>
      </div>
    </div>

    <div id="user_stories_navbar">
      <div class="navbar_stories">
        <h3>STORIES</h3>
        <span>17</span>
      </div>
      <div class="navbar_pictures">
        <h3>PICTURES</h3>
        <span>45</span>
      </div>
      <h3>STORY MAP</h3>
      <h3>ABOUT ME</h3>
    </div>

    <!-- NEWSFEED -->
    <div id="author_newsfeed">

     <% for (var i=0; i<stories.length; i++) { %>

        <div class="author_newsfeed_card">

          <div class="author_newsfeed_cardTop">
            <div class="cardTop_modifyIcons">
              <a href="/admin/newstory/<%=stories[i]._id%>" name="button">
                <img class="modify_button" src="/images/elements/modify_icon.svg" />
              </a>
              <!-- On passe en paramètre dans l'url les données de la BDD qu'on veut exploiter (Express url parameters) -->
              <a href="/admin/delete-stories/<%=stories[i]._id%>" name="button">
                <img src="/images/elements/cancel_icon.svg" class="cancel_button"/>
              </a>
            </div>
            <div class="cardTop_banner">
              <img src="/images/IMG_0088.JPG" class="cardTop_authorPic" alt="Profile picture" />
              <div class="cardTop_infos">
                <p class="cardTop_infos_authorName">Romain Mk</p>
                <p class="cardTop_infos_storyDate">22 janvier 2018</p>
              </div>
            </div>
          </div>

          <div class="author_newsfeed_cardBottom">
            <h3 class="cardText_title"><%=stories[i].title%></h3>
            <p class="cardText_text"><%=stories[i].text%></p>
            <img src="/images/elements/read_more_button.svg" class="cardTex_readMore" />
          </div>

        </div>

        <% } %>

    </div>

<%- include('../inc/footer'); %>
