<%- include('inc/header'); %>

<div id="author_header">
  <% if (user.picture) { %>
    <img class="author_profile_picture" src="/images/profilepics/<%=user.picture%>" alt="Photo user" />
  <% } else { %>
    <img class="author_profile_picture" src="/images/profilepics/default.jpg" alt="Photo user" />
  <% } %>
  <h2 class="author_name"><%= user.username %></h2>
  <img src="/images/elements/add_as_favorite_author_button.svg"/>
  <div class="author_div_social_media">
    <% if (user.fb) { %>
      <a href="<%=user.fb%>" target="_blank">
        <img class="author_social_media_icons" src="/images/elements/facebook_icon.svg"/>
      </a>
    <% } %>
    <% if (user.twitter) { %>
      <a href="<%=user.twitter%>" target="_blank">
        <img class="author_social_media_icons" src="/images/elements/twitter_icon.svg"/>
      </a>
    <% } %>
    <% if (user.insta) { %>
      <a href="<%=user.insta%>" target="_blank">
        <img class="author_social_media_icons" src="/images/elements/instagram_icon.svg"/>
      </a>
    <% } %>
    <% if (user.blog) { %>
      <a href="<%=user.blog%>" target="_blank">
        <img class="author_social_media_icons" src="/images/elements/url_icon.svg"/>
      </a>
    <% } %>
  </div>
</div>

<!-- <div class="author_navbar">
  <div class="author_stories_navbar">
    <h3 class="author_navbar_title">STORIES</h3>
    <span class="author_number">17</span>
  </div>
  <div class="author_pictures_navbar">
    <h3 class="author_navbar_title">PICTURES</h3>
    <span class="author_number">45</span>
  </div>
  <h3 class="author_navbar_title">STORY MAP</h3>
  <h3 class="author_navbar_title">ABOUT ME</h3>
</div> -->

<div id="author_newsfeed">

  <% for (var i=0; i<stories.length; i++) { %>

    <div class="author_newsfeed_card">

      <div class="author_newsfeed_cardTop">
        <div class="author_cardTop_banner">
          <% if (stories[i].authorPicture) { %>
            <img class="author_cardTop_authorPic" src="/images/profilepics/<%=stories[i].authorPicture%>" alt="Photo user" />
          <% } else { %>
            <img class="author_cardTop_authorPic" src="/images/profilepics/default.jpg" alt="Photo user" />
          <% } %>
          <div class="author_cardTop_infos">
            <p class="author_cardTop_infos_authorName"><%= stories[i].authorName %></p>
            <p class="author_cardTop_infos_storyDate"><%= stories[i].createdAt %></p>
          </div>
        </div>
      </div>

      <div class="author_newsfeed_cardBottom">
        <h3 class="author_cardText_title"><%=stories[i].title%></h3>
        <div class="author_div_cardText_text">
          <p class="author_cardText_text"><%=stories[i].text%></p>
        </div>
        <a href="stories/<%= stories[i]._id %>"> <img src="/images/elements/read_more_button.svg" class="author_cardTex_readMore" /> </a>
      </div>

    </div>

  <% } %>

</div>

<%- include('inc/footer'); %>
