<%- include('inc/header'); %>


  <% if (story.imgType) { %>
    <div id="story_header" style="background-image:url(../images/storypics/<%=story.id+'.'+story.imgType%>);">
  <% } else { %>
    <div id="story_header" style="background-image:url(../images/travel-1749508_1920.jpg);">
  <% } %>

      <div id="story_pic_banner">

        <% if (user.picture) { %>
          <img class="user_pic" src="/images/profilepics/<%=user.picture%>" alt="Photo user" />
        <% } else { %>
          <img class="user_pic" src="/images/profilepics/default.jpg" alt="Photo user" />
        <% } %>
        <div id="story_name_date">
          <p class="story_name"><%= story.authorName %></p>
          <p class="story_date"><%= story.createdAt %></p>
        </div>
      </div>

    </div>

  <div id="story_main">

    <div id="story">
      <h2 class="storyTitle"><%=story.title%></h2>
      <p id="story_text"><%=story.text%></p>
    </div>

    <div id="side_menu">

      <div class="side_cards">
        <div class="cards_titles">
          <h3 class="side_cards_titles">ABOUT THE AUTHOR</h3>
        </div>
        <div class>
          <p class="cards_text">Nom de l'auteur</p>
          <p class="cards_text">bla bla bla bla bla</p>
          <p class="cards_button">READ MORE</p>
        </div>
      </div>

      <div class="side_cards">
        <div class="cards_titles">
          <h3 class="side_cards_titles">ATTACHED CATEGORIES</h3>
        </div>
        <div class="cards_content">
          <img src="/images/elements/tag_funny.svg" />
          <img src="/images/elements/tag_dangerous.svg" />
          <img src="/images/elements/tag_scary.svg" />
        </div>
      </div>

      <div class="side_cards">
        <div class="cards_titles">
          <h3 class="side_cards_titles">ATTACHED TAGS</h3>
        </div>
        <div class="cards_content">
          <span>#mytag</span>
          <span>#myhashtag</span>
          <span>#thisisahashtag</span>
          <span>#blablabla</span>
        </div>
        <div>
          <p class="cards_button">SHOW ALL TAGS</p>
        </div>
      </div>

      <div class="side_cards">
        <div class="cards_titles">
          <h3 class="side_cards_titles">ATTACHED PICTURES</h3>
        </div>
        <div class="cards_content">
          <img class="cards_pics" src="/images/bad-boy-2773131_1920.jpg"/>
          <img class="cards_pics" src="/images/bolivia-3032596_1920.jpg"/>
          <img class="cards_pics" src="/images/old-1130731_1920.jpg"/>
          <img class="cards_pics" src="/images/railway-731340_1920.jpg"/>
          <img class="cards_pics" src="/images/tasi-zoltan-211733.jpg"/>
          <img class="cards_pics" src="/images/van-2786078_1920.jpg"/>
        </div>
        <div>
          <p class="cards_button">SEE ALL</p>
        </div>
      </div>

  </div>

  </div>

      <div id="story_bottom">
        <img class="story_icons" src="/images/elements/like_button_unactivated.svg"/>
        <img class="story_icons" src="/images/elements/save_button.svg"/>
        <img class="story_icons" src="/images/elements/addasfavorite_button.svg"/>
        <img class="story_icons" src="/images/elements/facebook_icon.svg"/>
        <img class="story_icons" src="/images/elements/google_icon.svg"/>
        <img class="story_icons" src="/images/elements/email_icon.svg"/>
        <img class="story_icons" src="/images/elements/url_icon.svg"/>
      </div>

<%- include('inc/footer'); %>
